<link rel="stylesheet" href="../css/dashboard.css">
<form action='/search' method="post">
    <div class="form-input">
        <input 
        type="search" 
        id="searhInput"
        name="searchTerm"
        placeholder="Search..."
        >
        <button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
        
    </div>
 

</form>