<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>

    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="shortcut icon" type="x-icon" href="/assets/favicon.png">
    <link rel="apple-touch-icon"  href="/assets/favicon.png">
    <link rel="icon" sizes="192x192" href="/assets/favicon.png">
    
    <link rel="stylesheet" href="css/login.css">
    <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aa0HAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"> </script>
</head>
<body>

<div class="product-wrapper" style="height: 800px;">

     <% if (!noError) { %> 
    <div id="charge-error" style="background: red;"
    class="hidden" >
        <%= errMsg %>
 
    </div>
    <% } %>  

    <div class="form-box"  style="margin-top: 20px;">
        <h2> Checkout </h2>
        <h2 style="font-size: 24px; color: green;"> Amount: N<%= amount %> </h2>
        <form   id="checkout-form" method="post">

            <input type="hidden" name="totalPrice" value="<%= amount %>">
         
            <div class="input-box">
                <span class="icon"><ion-icon name="name">
                   </ion-icon>
                </span>
                <input type="text" name="name" required>
                <label> Name</label>
            </div>

            <div class="input-box">
                <span class="icon"><ion-icon name="location">
                   </ion-icon>
                </span>
                <input type="text" name="address" required>
                <label> Address</label>
            </div>

            <div class="input-box">
                <span class="icon"><ion-icon name="mail">
                   </ion-icon>
                </span>
                <input type="text" name="cardHolderName" required>
                <label> Card Holder Name</label>
            </div>

            <div class="input-box">
                <span class="icon"><ion-icon name="mail">
                   </ion-icon>
                </span>
                <input type="number" name="cardNumber" required>
                <label> Credit Card Number</label>
            </div>

            <div class="input-box"  >
                <span class="icon"><ion-icon name="lock-closed">
                </ion-icon></span>
                <input type="text" name="cardExpirationMonth" required>
                <label> Expiry Month</label>
      
            </div>
            <div class="input-box" >
          
                <input type="text" name="cardExpirationYear" required>
                <label> Expiry Year</label>
            </div>
            <div class="input-box" >
                <span class="icon"><ion-icon name="lock-closed">
                </ion-icon></span>
                <input type="text" name="cvc" required>
                <label> CVC</label>
            </div>

            <input type="hidden" name="paymentId">
            <button type="submit" class="btn" > Pay</button>
         

           
        </form>
    </div>
</div>
    
</body>

<script text="text/javascript" src="https://js.stripe.com/v2"> </script>
<script text="text/javascript" src="/scripts/checkout.js"> </script>
</html>  