<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="shortcut icon" type="x-icon" href="/assets/favicon.png">
    <link rel="apple-touch-icon"  href="/assets/favicon.png">
    <link rel="icon" sizes="192x192" href="/assets/favicon.png">
    
    <link rel="stylesheet" href="../css/style.css">
    <title>Messages</title>
</head>
<body>

    <div class="store-div">

        <form action="/message" method="POST">

            <div class="input-box">
                <input type="text"  name="title" required>
                <label for="title"> <b> Title</b></label>   
            </div>
    
            <div class="input-box">
                <input type="text"  name="message" required>
                <label for="message"> <b> Message</b></label>   
            </div>            
            <input type="submit" value="Send" class="btn">
        </form>

        
    </div>

    
   
    
</body>
</html>