<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width= device-width, initial scale= 1.0">
    <title> Reset password </title>

    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="shortcut icon" type="x-icon" href="/assets/favicon.png">
    <link rel="apple-touch-icon"  href="/assets/favicon.png">
    <link rel="icon" sizes="192x192" href="/assets/favicon.png">

    <link rel="stylesheet" href ="/css/login.css">

</head>

<body>

    <header>
        <h2 class="logo"> Logo </h2>
        <nav class="navigation">
            <a href="#"> Home </a>
            <a href="#"> About </a>
            <a href="#"> Services </a>
            <a href="#"> Contact </a>
            
            <button class="btnLogin-popup"> Login </button>

          
        </nav>
    </header>


    <div class="wrapper-forgot-password">
        <div class="form-box">
         
     <h3>  Reset password for  <br> <%=  email %></h3>
     <form action="" method="POST">

         <div class="input-box">
            <input type="password" name="password" id="password" required>
            <label for="password"> password</label>
 
        </div>

        <div class="input-box">
            <input type="password" name="password2" id="password2"  required>
            <label for="password2"> confirm password</label>
            
        </div>

         <input type="submit" class="btn" value="Reset password"/>
        
     </form>

     </div>
     </div>
    
     <% if (message) { %>
        <p id="msg" style="color: green;" > <%= message %> </p>
    <% } %>
    <% if (error) { %>
        <p id="msg" style="color: red;"> <%= error %> </p>
    <% } %>

    <script src="scripts/script.js"></script>
    <script type="module" src="http://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="http://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    

</body>
</html>